*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

/*/build
*/build/
*.apk
*.dex
*.class
bin/ gen/
local.properties
*/local.properties
.classpath .project .DS_Store .DS_STORE
.gradle .gradle/ */build/ build/ /build .gradle/*
gradle.properties
*~
out/
.navigation/
captures/
proguard/
.clover/
.swp
*.keystore
*.log
*.hprof
*/.hprof

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/runConfigurations/*
.idea/dictionaries/*
.idea/libraries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/workspace.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/runConfigurations.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
.idea/statistic.xml
.idea/assetWizardSettings.xml

**/idea/workspace.xml
**/idea/tasks.xml
**/idea/dictionaries
**/idea/runConfigurations/*
**/idea/dictionaries/*
**/idea/libraries
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/workspace.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/caches
**/.idea/mongoSettings.xml
**/.idea/runConfigurations.xml
**/.idea/encodings.xml
**/.idea/compiler.xml
**/.idea/vcs.xml
**/.idea/statistic.xml
**/.idea/.name
**/.idea_modules/

